#board
  %h1 Rook
  %dl.west
    %dt James
    %dd
      %ul.cards
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card

  %dl.north
    %dt Mary
    %dd
      %ul.cards
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card

  %dl.east
    %dt Alice
    %dd
      %ul.cards
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card
        %li<> Card

  %dl.hand.south
    %dt Player 1
    %dd
      %ul.cards
        %li(class="rank-5 green")
          %em.rank 5
          %span.suit Green
          .rank
            %span 5
          .points 5
        %li(class="rank-7 green")
          %em.rank 7
          %span.suit green
          .rank
            %span 7
          .points
        %li(class="rank-12 green")
          %em.rank 12
          %span.suit green
          .rank
            %span 12
          .points
        %li(class="rank-13 green")
          %em.rank 13
          %span.suit green
          .rank
            %span 13
          .points
        %li(class="rank-10 black")
          %em.rank 10
          %span.suit Black
          .rank
            %span 10
          .points 10
        %li(class="rank-11 black selected")
          %em.rank 11
          %span.suit Black
          .rank
            %span 11
          .points
        %li(class="rank-rook red")
          %em.rank rook
          %span.suit Red
          .rank
            %span R
          .points 20
        %li(class="rank-9 red")
          %em.rank 9
          %span.suit Red
          .rank
            %span 9
          .points
        %li(class="rank-14 red")
          %em.rank 14
          %span.suit Red
          .rank
            %span 14
          .points 10
        %li(class="rank-1 red")
          %em.rank 1
          %span.suit Red
          .rank
            %span 1
          .points 15
        %li(class="rank-6 yellow")
          %em.rank 6
          %span.suit Yellow
          .rank
            %span 6
          .points
        %li(class="rank-7 yellow")
          %em.rank 7
          %span.suit Yellow
          .rank
            %span 7
          .points

  %ul.current_trick.cards
    %li(class="rank-3 yellow north")
      %em.rank 3
      %span.suit Yellow
      .rank
        %span 3
      .points
    %li(class="rank-11 yellow east")
      %em.rank 11
      %span.suit Yellow
      .rank
        %span 11
      .points
    %li(class="rank-1 yellow south")
      %em.rank 1
      %span.suit Yellow
      .rank
        %span 1
      .points 15
    %li(class="rank-3 green west")
      %em.rank 3
      %span.suit Green
      .rank
        %span 3
      .points
